*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #666666;
    color: #fff;
}

.video-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.video-box h1{
    margin: 20px 0;
    font-weight: 400;
    font-size: 30px;
}

.video-box .video-view{
    width: 560px;
    height: 400px;
    background-color: #000;
    border-radius: 3%;
    overflow: hidden;
}

.video-box .video-view video{
    width: 100%;
    height: 350px;
    padding: 0;
    cursor: pointer;
    padding: none;
}

.video-box .video-view .progress-bar{
    height: 50px;
    width: 100%;
    background-color: #333333;
    display: flex;
    font-size: 25px;
}

.video-box .video-view .progress-bar #play{
    color: #28A745;
    margin: 10px 10px;
    cursor: pointer;
}
.video-box .video-view .progress-bar #replay{
    width: 23px;
    height: 23px;
    margin: 10px 0px;
    background-color: #DC3545;
    cursor: pointer;
}
.video-box .video-view .progress-bar #progress-start{
    width: 15px;
    height: 35px;
    margin: 5px 0 5px 10px;
    background-color: #ffffff;
    box-shadow:1px 1px 1px #000;
    border: solid 1px #000;
    cursor: pointer;
}
.video-box .video-view .progress-bar #progress{
    width: 450px;
    height: 10px;
    margin: 18px 0;
    box-shadow:1px 1px 1px #000;
    border: solid 1px #000;
    background-color: #3071A9;
    cursor: pointer;
}
.video-box .video-view .progress-bar #time{
    font-size: 14px;
    margin: 15px 10px;
}